/*remove grey background from carousel*/
.carousel-control.left, .carousel-control.right {
    background-image: none
}

html, body {
    margin:0;
    padding:0;
}

a:hover {
    cursor: pointer;
}

.carousel {
    margin-bottom: 12px;
}

.footer {
    padding-top: 5px;
    background-color: #f5f5f5;
}

